@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=PT+Sans+Caption:wght@400;700&display=swap');

:root{
    --clr-text:#d47800;
    --clr-white:rgb(218, 215, 198);
    --clr-light-brown:#cc4d03;
    --clr-brown:rgb(107, 58, 19);

    --bg-clr-black:rgb(10, 3, 1);

    --ff-text:"Cinzel", serif;;
    --ff-title:"PT Sans Caption", sans-serif;;
    
}

html{
    overflow-x: hidden;
}


.contact-main{
    background: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-contact{
    background-color: black;
    
}

.contact-content{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    width: 100%;
    margin-top: 8rem;
}

.paragraph{
    flex: 0 1 50%;
    max-width: 500px;
    
    padding-top: 1rem;
    padding-bottom:1rem ;
    font-size: 1.5rem;
    
}

.contact-content__text{
    line-height: 2rem;
    color: var(--clr-text);
    text-align: center;
}

.paragraph-title{
    width: 100%;
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: left;

    
}


.form{
    
    padding: 1rem;
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    align-items: left;
    animation: fromright 600ms ease-in;
}



.contact-line-seperator{
    display: inline-block;
    width: 6rem;
    height: .1rem;
    background-color: var(--clr-text);
}


input,textarea{
    background-color: transparent;
    border: none;
    border-bottom:solid var(--clr-white ) .1rem;
    color: white;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

textarea{
    height: 15rem;
    margin-top: 2rem;
    border:solid var(--clr-white ) .1rem;
}



input{
    height: 4rem;
    padding: 1rem;
}

::placeholder{
    color: var(--clr-white);
    font-size: 2rem;
    height: 150%;
    
}

#btn{
    margin-top: 2rem;
    background-color: transparent;
    border: .1rem solid var(--clr-white);
    padding: 1rem 2rem;
    width: 100%;
    color: white;
    font-size: 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
}

button:hover,
button:focus{
    border: .1rem solid var(--clr-text);
    
}




@media (max-width:1230px){
    .contact-content{
        padding-top: 10rem;
        padding-bottom: 10rem;
        flex-direction:column-reverse;
    }

    
}

@media (max-width:450px){
    .paragraph-title h1{
        font-size: 2.5rem;
    }
    
    .contact-content__text{
        font-size: 1.3rem;
    }

    .contact-line-seperator{
        width: 50px;
    }
    ::placeholder{
        font-size: 1.5rem;
    }
}


